# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.NavigationSystemCPP.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnrealProjects\NavigationSystemCPP\.idea\.idea.NavigationSystemCPP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
